/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/*белый #FFFFFF  */
/* акцент #2196F3; */
/* подвал rgba(255, 255, 255, 0.6) */
/* вторичный цвет фона #2F303A; */
/* фон неактивной кнопки #F5F4FA*/

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --footer-color: rgba(255, 255, 255, 0.6);
    --secondary-bg-color: #2F303A;
    --button-bg-color: #F5F4FA;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif; 
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* Logo */
.logo {

    color: var(--primary-text-color);
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

/* site nav */
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contact-header .link:hover,
.contact-header .link:focus {
    color: var(--accent-color);
}

.contact-header .link {
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
}

/* hero */
.section-hero {
    background-color: var(--secondary-bg-color);
}

.section-title {

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.hero-title {
    color: var(--primary-white-color);
    text-transform: uppercase;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Button */
.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus {
    color: var(--primary-text-color);
}

.button {
    color: var(--primary-text-color);
    background-color: var(--button-bg-color);

    cursor: pointer;
    font-family: inherit;

    font-size: 16px;
    line-height: 1.63;
    
    text-align: center;
    letter-spacing: 0.03em;

}

/* Advantages */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.advantages-list .title{
    text-transform: uppercase;

    font-size: 14px;
    line-height: 1.14;
}

.advantages-list .text{
    color: var(--secondary-text-color);
    line-height: 1.71; 
}

/* Team */
.section-team{
    background-color: var(--button-bg-color);
}

.team-list .title {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list .text{
    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 1.19;  
    text-align: center;

}

/* Футер */
.footer {
    background-color: var(--secondary-bg-color);
}

.logo-studio {
    color: var(--primary-white-color);
}

.footer-adress{
    text-decoration: none;
    font-style: normal;

    color: var(--primary-white-color);
    
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-mail,
.footer-tel{
    text-decoration: none;
    font-style: normal;

    color: var(--footer-color);

    font-weight: 400;
    line-height: 1.71;    
    letter-spacing: 0.03em;
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus{
    color: var(--accent-color);
}

/* Portfolio */

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.primary-filter {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-size: 16px;
    line-height: 1.63;

    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-filter .button.primary-filter:hover,
.portfolio-filter .button.primary-filter:focus {
    color: var(--primary-text-color);
}

.portfolio-filter .button:hover,
.portfolio-filter .button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.portfolio-list .title {
    color: var(--primary-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list .text{
    color: var(--secondary-text-color);
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.portfolio-list .link{
    text-decoration: none;
}